<link rel="stylesheet" href="/stylesheets/country-project.css">

<section>
  <div class="title"><img src="/lib/flags/costa-rica.svg"><h1>Costa Rica</h1></div>

  <p><strong>When: </strong> 2016-2019</p>

  <p><strong>Which tools: </strong> Economy-wide models (MAMS, MACEPES and CGE-UNDESA), LEAP energy model, CLEWS </p>

  <p><strong>Who’s involved: </strong> Government of Costa Rica (Ministry of Economic Development, Central Bank, Ministry of Environment, Electricity Institute) supported by UNDESA, UNDP, Universidad de la Plata and KTH-dESA</p>

  <p><strong>What's happening: </strong> Capacity development activities have aimed at formulating and evaluating coherent, evidence-based policies to achieve development goals. Application of the LEAP model indicated that more aggressive policies for the transport sector are required to realize a goal of carbon neutrality by 2021, and to meet expectations in the 7th National Energy Plan 2015-2030, including on alternative fuels. Current efforts are aimed at fine-tuning LEAP to model more comprehensive transport policies. The CLEWS methodology will help identify synergies and tradeoffs in accelerating progress towards carbon neutrality and Nationally Determined Contributions related to climate change, while CGE models and microsimulation will guide analysis of economic and social implications.</p>
</section>
