<link rel="stylesheet" href="/stylesheets/country-project.css">

<section>
  <div class="title"><img src="/lib/flags/ghana.svg"><h1>Ghana</h1></div>

  <p><strong>When: </strong> 2016-2019</p>

  <p><strong>Which tools: </strong> CLEWS </p>

  <p><strong>Who’s involved: </strong> Government of Ghana (Savannah Accelerated Development Authority) supported by UNDESA, UNDP, IAEA, KTH-dESA, IWMT and IFPRI</p>

  <p><strong>What's happening: </strong> The construction of a CLEWs model is taking place along with the organization of an interministerial analytical team. The exercise is oriented towards designing policy scenarios for sustainable development based on the interactions of land resources, water availability and energy use in the Northern Savannah Ecological Zone. </p>
</section>
