<link rel="stylesheet" href="/stylesheets/country-project.css">

<section>
  <div class="title"><img src="/lib/flags/kyrgyz-republic.svg"><h1>Kyrgyz Republic</h1></div>

  <p><strong>When: </strong> 2008-2011, 2015-2017</p>

  <p><strong>Which tools: </strong> MAMS</p>

  <p><strong>Who’s involved: </strong> Government of the Kyrgyz Republic (Office of the President, Ministry of Economy) supported by UNDESA, UNDP.</p>

  <p><strong>What's happening: </strong> Capacity development between 2008 and 2011 aided in using the MAMS economy-wide model to assess development strategies to achieve the MDGs. Following a request made by the Office of the President in 2015, technical assistance was provided to back preparation of the 2030 Strategy, a long-term national development plan. This has involved updating the MAMS model dataset and designing new policy scenarios for 2017 to 2030. Scenarios focus on the potential contributions of different drivers of economic growth, including investment in public infrastructure, productivity growth across sectors, foreign direct investment and remittances. They have demonstrated how potential vulnerabilities from world economic shocks (via decreased export prices and increased import prices of key exported and imported commodities, respectively) may affect growth paths.</p>
</section>
