<link rel="stylesheet" href="/stylesheets/country-project.css">

<section>
  <div class="title"><img src="/lib/flags/mexico.svg"><h1>Mexico</h1></div>

  <p><strong>When: </strong> 2017-2019</p>

  <p><strong>Which tools: </strong> Water Evaluation and Planning (WEAP), Agro-Ecological Zones (AEZ) model and CLEWS.</p>

  <p><strong>Who’s involved: </strong> Government of Mexico (Secretary of Environment and Natural Resources, National Institute for Ecology and Climate Change) supported by UNDESA, UNDP, ECLAC and IIASA.</p>

  <p><strong>What's happening: </strong> As a developing country with moderate levels of emissions, Mexico has made a commitment to redressing climate change and moving towards sustainable development, including by passing a General Climate Change Law.  Following national ratification of the Paris Agreement, the finance and environment ministries requested support to build capacities in the use of modelling tools and integrated assessment methodologies, and to address interlinkages and tradeoffs among goals, priorities and sectoral policies. A CLEWS assessment will help clarify the potential impacts of zero deforestation policies.</p>
</section>
