<link rel="stylesheet" href="/stylesheets/country-project.css">

<section>
  <div class="title"><img src="/lib/flags/mongolia.svg"><h1>Mongolia</h1></div>

  <p><strong>When: </strong> 2017-2018</p>

  <p><strong>Which tools: </strong> <i>Maquette</i> for MDG Simulation (MAMS)  </p>

  <p><strong>Who’s involved: </strong> Government of Mongolia (National Development Agency) supported by UNDP, UNDESA, IAEA, Universidad de la Plata and the World Bank</p>

  <p><strong>What's happening: </strong> Mongolia’s vision of sustainable development includes becoming a leading middle-income country that has eradicated all forms of poverty, preserved the ecological balance, and built strong and stable governance systems. To help attain these goals, the Government has sought to assess the economy-wide implications of different policy options. The MAMS model will be adapted to the national context, using a national social accounting matrix to analyse alternative policy outcomes. An interministerial analytical team is being established under a national climate change committee to  oversee the modelling work and related training of government officials. It will also encourage the exchange of data and information, and foster integrated policies aligned with sustainable development.</p>
</section>
