<link rel="stylesheet" href="/stylesheets/country-project.css">

<section>
  <div class="title"><img src="/lib/flags/paraguay.svg"><h1>Paraguay</h1></div>

  <p><strong>When: </strong> 2016-2018</p>

  <p><strong>Which tools: </strong> Economy-wide model (CGE-UNDESA) and an energy systems model (OSeMOSYS) using the MoManI interface.</p>

  <p><strong>Who’s involved: </strong> Government of Paraguay (Secretary of Planning for Economic and Social Development) supported by UNDESA, UNDP, and KTH-dESA.</p>

  <p><strong>What's happening: </strong> Capacity development in model design and analysis aims at assessing: the effects of increasing value-added taxes to Mercosur countries in terms of GDP and government spending; power sector investment and electricity exports; energy consumption in households towards reducing dependence on traditional biomass and improving energy efficiency; as well as policies to expand public transport.</p>
</section>
