<link rel="stylesheet" href="/stylesheets/country-project.css">

<section>
  <div class="title"><img src="/lib/flags/uganda.svg"><h1>Uganda</h1></div>

  <p><strong>When: </strong> 2014-2017</p>

  <p><strong>Which tools: </strong> MAMS, CGE-UNDESA, OSeMOSYS, WEAP, CLEWs</p>

  <p><strong>Who’s involved: </strong> Government of Uganda (Ministry of Finance and Planning Economic Development, Ministry of Water and Environment) supported by UNDESA, UNDP, IAEA, Stockholm Environment Institute (SEI-US), KTH-dESA.</p>

  <p><strong>What's happening: </strong> Since 2008, activities have focused on developing modelling skills, and the use of modelling tools and integrated assessment methodologies. A significant number of quality modelling tools have informed important national development policies, including SDG and climate change strategies. Pilot use of sectoral models, such as for energy and water, has underpinned more robust and integrated systems modelling, first, through soft-linking these models, and later through the addition of climate and land components. A single, integrated CLEWS model now captures cross-sectoral impacts. Government officials have been trained on the analytical and quantitative aspects of modelling, and in discussing results with policymakers.</p>
</section>
