<link rel="stylesheet" href="/stylesheets/country-project.css">

<section>
  <div class="title"><img src="/lib/flags/vietnam.svg"><h1>Viet Nam</h1></div>

  <p><strong>When: </strong> 2017-2018</p>

  <p><strong>Which tools: </strong> CLEWS, LINK</p>

  <p><strong>Who’s involved: </strong> Government of Viet Nam (Ministry of Planning and Investment, Ministry of Natural Resources and Environment) supported by UNDP, UNDESA and IAEA</p>

  <p><strong>What's happening: </strong> Viet Nam ranks among the most dynamic emerging economies in Southeast Asia; it is committed to sustainable development. To support informed planning for sustainable growth coupled with environmental protection, effective management of natural resources and a proactive response to climate change, a CLEWS model and a macroeconomic forecasting tool, LINK, are being developed. Besides building capacities, current support is helping to strengthen interinstitutional exchanges of data and information, and to promote cross-institutional analytical teams to tackle integrated policy challenges.</p>
</section>
