<link rel="stylesheet" href="/stylesheets/country-projects.css">

<section class="banner"
         style="background-image: url(/images/photos/electricity-hill.jpg);
                min-height: 500px;">
</section>

<section>
  <h1>Strengthening National Capacities</h1>

  <p>In supporting countries to devise policies for achieving sustainable development, UNDESA and UNDP provide support by building models to answer key policy questions, enhance capacities to run and interpret modelling scenarios, and strengthen skills to communicate key results.</p>

  All country projects:
    <ul>
      <li><i>Are demand driven</i>, implemented at government request and in close communication with officials to address specific national needs and interests</li>
      <li><i>Last between 6 to 24 months</i>, depending on the complexity of the models, data availability, existing technical capacities and institutional dynamics</li>
      <li><i>Require strong collaboration</i>with government counterparts and the establishment of an inter-ministerial technical modelling team where diverse institutions pool expertise</li>
    </ul>
  </p>
</section>

<section id="countries">
  <h1>Countries</h1>

  <br>

  <div id="flags">
    <a href="/country-projects/bolivia"
       class="flag">
      <img src="/lib/flags/bolivia.svg">
      Bolivia
    </a>

    <a href="/country-projects/costa-rica"
         class="flag">
      <img src="/lib/flags/costa-rica.svg">
      Costa Rica
    </a>

    <a href="/country-projects/ghana"
         class="flag">
      <img src="/lib/flags/ghana.svg">
      Ghana
    </a>

    <a href="/country-projects/mexico"
         class="flag" >
      <img src="/lib/flags/mexico.svg">
      Mexico
    </a>

    <a href="/country-projects/kyrgyz-republic"
         class="flag">
      <img src="/lib/flags/kyrgyz-republic.svg">
      Kyrgyz Republic
    </a>

    <a href="/country-projects/paraguay"
         class="flag">
      <img src="/lib/flags/paraguay.svg">
      Paraguay
    </a>

    <a href="/country-projects/mongolia"
         class="flag">
      <img src="/lib/flags/mongolia.svg">
      Mongolia
    </a>

    <a href="/country-projects/uganda"
         class="flag">
      <img src="/lib/flags/uganda.svg">
      Uganda
    </a>

    <a href="/country-projects/vietnam"
         class="flag">
      <img src="/lib/flags/vietnam.svg">
      Vietnam
    </a>
  </div>
</section>
