<footer>
  <div class="t-col">
    <a href="http://www.un.org/en/sections/about-website/copyright">Copyright</a>
  </div>

  <div class="t-col">
    <a href="https://www.un.org/en/sections/about-website/terms-use">Terms of Use</a>
  </div>

  <div class="t-col">
    <a href="http://www.un.org/en/sections/about-website/privacy-notice">Privacy Notice</a>
  </div>

  <div class="t-col">
    <a href="/contact">Contact</a>
  </div>
</footer>
