<section>
  <h1>Ghana</h1>

  <p><strong>Timeframe: </strong> 2016-2019</p>

  <p><strong>Modelling tools: </strong> climate, land, energy and water systems model (CLEWs)</p>

  <p><strong>Scope of analysis: </strong> assess the interactions of land resources, water availability, and energy use to inform on potential trade-offs and synergies between policies aiming to accelerate development in the Northern Savannah Ecological Zone (NSEZ). Policy interests include the modernization of agriculture technologies, increasing food security, expanding energy access, and a diversification of economic activities considering urban population growth and climate projections.</p>

  <p><strong>Project activities: </strong> Build an integrated modelling framework for CLEWs, support the government in the conformation of an inter-ministerial technical team, build capacities in the use of the CLEWs model through hand-on training workshops; support the inter-ministerial analytical team in developing scenarios of the CLEWs model; analyze policy scenarios and sustainable development pathway for the NSEZ of Ghana.</p>

  <p><strong>Co-operating entities within the UN system: </strong> DPAD/UNDESA, DPADAM/UNDESA, UNDP-CO and UNDP-HQ, IAEA</p>

  <p><strong>Government counterparts: </strong> Savannah Accelerated Development Authority (SADA)</p>

  <p><strong>Other partners: </strong> Division of Energy Systems Analysis KTH-DESA, International Water Management Institute (IWMT), International Food Policy Research Institute (IFPRI)</p>
</section>
