<header>
  <a id="title" href="/">
    Modelling&nbsp;Tools
    <br>
    <div id="for-sustainable-development">for&nbsp;sustainable&nbsp;development</div>
  </a>

  <div id="logos">
    <a href="http://www.undp.org/">
      <img src="/images/logos/undp.svg"
           alt="UNDP Logo">
    </a>
    <a href="https://www.un.org/development/desa/en/">
      <img src="/images/logos/undesa.png"
           alt="UNDESA Logo">
    </a>
  </div>
</header>
