<nav>
  <input id="toggle"
         class="no-desktop"
         type="checkbox">

  <div class="no-desktop">
    <label for="toggle">
      <svg style="width:28px;height:28px" viewBox="0 0 24 18">
        <path fill="white" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path>
      </svg>
    </label>
  </div>

  <a href="/about"
     class="toggleable">About</a>

  <a href="/modelling-tools"
     class="toggleable">Modelling Tools</a>

  <a href="/country-projects"
     class="toggleable">Country Projects</a>

  <a href="/outreach-training"
     class="toggleable">Outreach Training</a>

  <a href="/news-events"
     class="toggleable">News and Events</a>

  <script>
    (function() {
    var as = document.querySelectorAll('body > nav a');
    var path = location.pathname;

    for (var a of as) {
      var regex = new RegExp(`${a.pathname}`);

      if (!a.href.match('#') && path.match(regex)) {
        a.classList.add('active');
        break;
      }
    }})();
  </script>
</nav>
